@model TikiTopProductModel
<style>
    table {
        clear: both;
        border-collapse: collapse;
        table-layout: fixed;
        word-wrap: break-word;
    }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 2px 2px;
        }
</style>
<div class="" style="padding-left: 10px; padding-right: 10px; padding-top: 20px">
    <table id="product-datatable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Giá <small>(VND)</small></th>
                <th>Đã bán</th>
                <th>Lượt đánh giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.data)
            {
                <tr>
                    <td>@item.id</td>
                    <td><a href="https://tiki.vn/@item.url_path" target="_blank">@item.name</a></td>
                    <td><img style="width: 50px" src="@item.thumbnail_url"></td>
                    <td>@(((long)item.price).ToString("#,###,###"))</td>
                    <td>@item.order_count</td>
                    <td>@item.review_count</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>$('#product-datatable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'pageLength'
        ],
        aaSorting: [],
        scrollX: true,
        responsive: true,
        lengthMenu: [[10, 15, 30, -1], [10, 25, 20, "All"]],
        columnDefs: [
            { width: 50, targets: 0, className: "text-left" },
            { width: 250, targets: 1, className: "text-left" },
            { width: 70, targets: 2, className: "text-center" },
            { width: 50, targets: 3, className: "text-center" },
            { width: 50, targets: 4, className: "text-center" },
            { width: 90, targets: 5, className: "text-center" }
        ]
    });</script>