@model List<CategoryViewModel>
@{
    ViewData["Title"] = "Danh mục sản phẩm";
}
    <style>
        .tiki {
            color: #007bff;
        }
        /*.sendo {
            color: #dc3545;
        }*/
        .sendo a:link {
          color: red;
        }
    </style>
<h1>Tiki</h1>
<div class="tiki">
    @foreach (var item in Model?.Where(item => item.SiteId == "3").ToList())
    {
        <a href="@item.CategoryUrl" target="_blank">@item.Level _ @item.CategoryName</a>
        <a class="cate-item" cate-id="@item.CategoryId" parent-id="@item.Parent" site-id="@item.SiteId" cate-site-id="@item.CategorySiteId" cate-name="@item.CategoryName" cate-level="@item.Level"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <div style="margin-left: 30px" div-cate-site-id="@item.CategorySiteId">

        </div>
    }
</div>
    

<h1>Sendo</h1>
<div class="sendo">
    @foreach (var item in Model?.Where(item => item.SiteId == "4").ToList())
    {
        <a href="@item.CategoryUrl" target="_blank">@item.Level _ @item.CategoryName</a>
        <a class="cate-item" cate-id="@item.CategoryId" parent-id="@item.Parent" site-id="@item.SiteId" cate-site-id="@item.CategorySiteId" cate-name="@item.CategoryName" cate-level="@item.Level"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <div style="margin-left: 30px" div-cate-site-id="@item.CategorySiteId">

        </div>
    }
</div>
<script src="~/js/application/category.js"></script>